.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Folders
datasets/*
!datasets/test_small.csv
!datasets/test_small_dir/*

results/*

# Config files
*.yml
*.yaml
!environment.yml
!example_config.yaml
