transformers
matplotlib
keras
numpy
torch
scikit-learn
tensorflow
tqdm
pandas
datasets
seaborn
xlrd
pyarrow
lxml
openpyxl
evaluate
accelerate
sentencepiece
fasttext==0.9.1
fasttext-langdetect
peft
bitsandbytes
openai
spacy
nltk
rouge_score
tf-keras